<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Gender</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Male</string>
              <string>Female</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>LetterSet</name>
          <description></description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>3</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>X,Y,Z</value>
          <defaultValue>X,Y</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEBUG</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>RadioButtonInput</name>
          <description></description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>3</visibleItemCount>
          <type>PT_RADIO</type>
          <value>1,2,3</value>
          <defaultValue>2</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@0.24-SNAPSHOT">
          <name>Profession</name>
          <description></description>
          <randomName>choice-parameter-6068863978243</randomName>
          <script class="org.biouno.unochoice.model.ScriptlerScript">
            <scriptlerScriptId>basic_choice_parameter_script.groovy</scriptlerScriptId>
            <parameters>
              <entry>
                <string></string>
                <string></string>
              </entry>
              <entry>
                <string>Gender</string>
                <string>Male</string>
              </entry>
              <entry>
                <string>LetterSet</string>
                <string>X,Y</string>
              </entry>
              <entry>
                <string>RadioButtonInput</string>
                <string>1</string>
              </entry>
              <entry>
                <string>DEBUG</string>
                <string></string>
              </entry>
            </parameters>
          </script>
          <visibleItemCount>1</visibleItemCount>
          <parameters class="linked-hash-map"/>
          <referencedParameters>Gender,DEBUG,RadioButtonInput,LetterSet</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
        </org.biouno.unochoice.CascadeChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.scriptler.builder.ScriptlerBuilder plugin="scriptler@2.7">
      <builderId>1419953437348_7</builderId>
      <scriptId>basic_build_step.groovy</scriptId>
      <propagateParams>false</propagateParams>
      <parameters/>
    </org.jenkinsci.plugins.scriptler.builder.ScriptlerBuilder>
    <hudson.plugins.groovy.Groovy plugin="groovy@1.24">
      <scriptSource class="hudson.plugins.groovy.StringScriptSource">
        <command>println &quot;DEBUG = ${System.getenv(&apos;DEBUG&apos;)}&quot;
println &apos;Placeholder&apos;
println &quot;Profession = ${System.getenv(&apos;Profession&apos;)}&quot;
println &quot;RadioButtonInput = ${System.getenv(&apos;RadioButtonInput&apos;)}&quot;
</command>
      </scriptSource>
      <groovyName>groovy-2.3.8</groovyName>
      <parameters></parameters>
      <scriptParameters></scriptParameters>
      <properties></properties>
      <javaOpts></javaOpts>
      <classPath></classPath>
    </hudson.plugins.groovy.Groovy>
    <org.jenkinsci.plugins.scriptler.builder.ScriptlerBuilder plugin="scriptler@2.7">
      <builderId>1419954188928_9</builderId>
      <scriptId>basic_build_step.groovy</scriptId>
      <propagateParams>true</propagateParams>
      <parameters/>
    </org.jenkinsci.plugins.scriptler.builder.ScriptlerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>